<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <style>
      .ui.menu {
        margin: 0;
      }
      .ui.table {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <div class="ui modal edit">
      <i class="close icon"></i>
      <div class="header">Editing Citizen (<span id="citizen_id"></span>)</div>
      <div
        class="ui padded container segment"
        style="border: none; box-shadow: none"
      >
        <form class="ui form" method="post" onsubmit="editCitizen(event)">
          <div class="field">
            <label>Address</label>
            <input
              placeholder="Address"
              name="address"
              type="text"
              autocomplete="off"
              id="address"
            />
          </div>
          <div class="field">
            <label>Mobile Number</label>
            <input
              type="text"
              name="mobile_number"
              placeholder="Mobile Number"
              id="mobile_number"
            />
          </div>
          <div class="field">
            <label>Date of Birth</label>
            <input type="date" name="dob" placeholder="DOB" id="dob" />
          </div>
          <div class="field">
            <label>Marital Status</label>
            <select class="ui dropdown" id="marital_status">
              <option value="M">Married</option>
              <option value="UM">Unmarried</option>
            </select>
          </div>
          <div class="ui primary button" id="editCitizen">Submit</div>
          <div class="ui error message"></div>
        </form>
      </div>
    </div>

    <%- include('partials/navbar') %>
    <table class="ui selectable table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Mobile Number</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Marital Status</th>
          <th>Village Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < citizens.length; i++) { %>
        <tr>
          <td><%= citizens[i].first_name %></td>
          <td><%= citizens[i].last_name %></td>
          <td><%= citizens[i].address %></td>
          <td><%= citizens[i].mobile_num %></td>
          <td><%= citizens[i].dob %></td>
          <td><%= citizens[i].gender %></td>
          <td><%= citizens[i].marital_status %></td>
          <td><%= citizens[i].village_name %></td>
          <td>
            <div class="ui teal buttons">
              <div
                class="ui button"
                onclick="editCitizensRecord('<%=JSON.stringify(citizens[i])%>')"
              >
                Edit
              </div>
              <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div
                    class="item"
                    onclick="deleteCitizenRecord('<%= JSON.stringify(citizens[i])%>')"
                  >
                    <i class="delete icon"></i> Delete
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
  <%- include('partials/scripts') %>
  <script src="/citizens.js"></script>
</html>
