<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <div class="ui modal login">
      <i class="close icon"></i>
      <div class="header">Log in to continue</div>
      <div
        class="ui padded container segment"
        style="border: none; box-shadow: none"
      >
        <form class="ui form" method="post" onsubmit="login(event)">
          <div class="field">
            <label>Username</label>
            <input
              placeholder="Username"
              name="username"
              type="text"
              autocomplete="off"
              id="username"
            />
          </div>
          <div class="field">
            <label>Password</label>
            <input
              type="password"
              name="password"
              placeholder="password"
              id="password"
            />
          </div>
          <div class="ui primary submit button" id="submit">Submit</div>
          <div class="ui error message"></div>
        </form>
      </div>
    </div>
    <%- include('partials/navbar') %>
    <div class="ui main container segment">
      <div class="ui cards">
        <div class="card">
          <div class="content">
            <div class="header">Citizens</div>
            <div class="description">
              <pre>
                Gender Statistics:<br>
                =====================<br>
                Male: <%= genderDistribution[0].genderCount %><br>
                Female: <%= genderDistribution[1].genderCount %><br>
                ---------------------<br>
                Total: <%= genderDistribution[0].genderCount + genderDistribution[1].genderCount %>
              </pre>
              Provides the details of all the citizens in the database
            </div>
          </div>
          <div class="extra content">
            <div class="ui basic green button" onclick="route('citizens')">
              View Data
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('partials/scripts') %>
  <script>
    $(".login.modal").modal("attach events", ".loginButton", "show");
  </script>
  <script src="/login.js"></script>
</html>
