<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 4px 8px;
      }
    </style>
  </head>

  <body>
    <h1><%= title %></h1>
    <!-- Print Citizens data in table -->
    <table>
      <thead>
        <tr>
          <th>Citizen ID</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Mobile Number</th>
          <th>Date of Birth</th>
          <th>Gender</th>
          <th>Marital Status</th>
          <th>Disabled</th>
          <th>Disabled Percentage</th>
          <th>Caste</th>
          <th>Village ID</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < citizens.length; i++) { %>
        <tr>
          <td><%= citizens[i].citizen_id %></td>
          <td><%= citizens[i].first_name %></td>
          <td><%= citizens[i].middle_name ? citizens[i].middle_name : '-' %></td>
          <td><%= citizens[i].last_name %></td>
          <td><%= citizens[i].address %></td>
          <td><%= citizens[i].mobile_num %></td>
          <td><%= citizens[i].dob %></td>
          <td><%= citizens[i].gender %></td>
          <td><%= citizens[i].marital_status %></td>
          <td><%= citizens[i].disabled %></td>
          <td><%= citizens[i].disbaled_percentage %></td>
          <td><%= citizens[i].caste %></td>
          <td><%= citizens[i].village_id %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <script>
      // Print the result of the sequelize query in the console - variable is 'citizens'
      const citizens = <%- JSON.stringify(citizens) %>;
      console.log(citizens);
    </script>
  </body>
</html>
